.jumbotron {
  padding-top: 6rem;
  background-color: #c5dbff;
}

#projects {
  background-color: #c5dbff;
}

section {
  padding-top: 5rem;
}

.card-body {
  height: 80px;
  line-height: 40px;
	text-align: center;
}

.card-body p {
	line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
